{% extends '@DmitxeSite/layout_sidebar.html.twig' %}

{% trans_default_domain 'MremiContactBundle' %}

{% block html_head_title %} Ваше сообщение успешно отправлено }} {% endblock html_head_title %}

{% set breadcrumbs = '<a href="' ~ path('mremi_contact_form') ~ '">Контакты</a> » ' ~ '<span>Сообщение успешно отправлено</span>' %}

{% block content %}
    {{ parent() }}

    <section>
        <h3>{{ 'mremi_contact.confirm_title'|trans({
            '%fullName%': contact.fullName
        }) }}</h3>
    </section>

    <p>{{ 'mremi_contact.confirm_message'|trans }}</p>
{% endblock content %}
