{% extends '@DmitxeSite/layout_sidebar.html.twig' %}

{% block html_head_title %} Новости &raquo; {{ parent() }} {% endblock html_head_title %}

{% block content %}
    {{ parent() }}
    <div id="content" class="span9">
        <div class="content">
            {% block smart_blog_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
