{% extends '@DmitxeSite/layout_sidebar.html.twig' %}

{% set breadcrumbs = '<span>О сайте</span>' %}

{% block content %}
    {{ parent() }}
    {{ texter('about') }}
    {{ knp_disqus_render('dolor-sid', {'identifier': '/about', 'limit': 10}) }}
{% endblock content %}
