{% extends '@DmitxeSite/layout_sidebar.html.twig' %}

{% block content %}
    {{ parent() }}
    <div id="content" class="span9">
        <div class="content">

            <h1>Персональный блог</h1>
            <h2>Тренировочный проект на Symfony2</h2>

            <div class="container-fluid blog-article-box">
                <p>Вот так вот ;) Тут будет мега блог ;)</p>
            </div>

            <h1>Провера текстера</h1>

            {{ texter(1) }}

        </div>
    </div>

{% endblock content %}
