{% extends '@DmitxeBlog/layout.html.twig' %}

{% set n = categories|length - 1 %}
{% for j, category in categories %}
    {% if j < n %}
        {% set breadcrumbs = breadcrumbs ~ '<a href="' ~ path('smart_blog.category.articles', {'slug': category.slugFull}) ~ '/">' ~ category ~ '</a> » ' %}
    {% else %}
        {% set breadcrumbs = breadcrumbs ~ '<span>' ~ category ~ '</span>' %}
    {% endif %}
{% endfor %}

{% block smart_blog_content %}
    {% set childenCategories = lastCategory.children %}

    {% if childenCategories|length %}
        <h3>Вложенные категории:</h3>
        <ul>
        {% for category in childenCategories %}
            <li><a href="{{ path('smart_blog.category.articles', {'slug': category.slugFull}) }}/">{{ category }}</a></li>
        {% endfor %}
        </ul>
        <hr />
    {% endif %}

    {% block smart_blog_content_articles %}
        {% include '@DmitxeBlog/Article/_list.html.twig' %}
    {% endblock smart_blog_content_articles %}

{% endblock smart_blog_content %}
