<div id="materialsHeader">
    <ul class="nav nav-list">
        {% for month, val in articles  %}
        <li>
            <a href="{{ path('smart_blog_archive', {'date': val.date, 'page': 1}) }}">
                {{ month | localizeddate('none', 'none', null, null, 'LLLL YYYY') }} ({{ val.count }})
            </a>
        </li>
        {% endfor %}
    </ul>
</div>