{% extends '@DmitxeSite/layout.html.twig' %}

{% block sidebar %}
    {{ parent() }}
    <div id="sidebar" class="span3">
        {{ render(controller('SmartBlogBundle:Widget:showCategoryList', { 'id_action': null })) }}
    </div>
{% endblock sidebar %}
