{% extends '@DmitxeNews/layout.html.twig' %}

{% set breadcrumbs = '<span>Новая новость</span> ' %}

{% block html_head_title %} Написать новость: &raquo; {{ parent() }} {% endblock html_head_title %}

{% block smart_blog_content %}

    {% include '@DmitxeNews/Article/_form.html.twig' %}

{% endblock smart_blog_content %}
