{% extends '@DmitxeSite/layout_sidebar.html.twig' %}

{% block html_head_title %} Блог &raquo; {{ parent() }} {% endblock html_head_title %}

{%  if breadcrumbs != '' %}
    {%  set current_breadcrumb =  '<a href="' ~ path('smart_blog_index') ~ '">Блог</a> »  '  %}
{%   else  %}
    {%  set current_breadcrumb =  '<span>Блог</span>'  %}
{%  endif  %}
{%    set breadcrumbs =  current_breadcrumb ~ breadcrumbs %}


{% block content %}
     {{ parent() }}
     {% block smart_blog_content %}{% endblock %}
{% endblock %}
