{% extends '@DmitxeSite/layout_sidebar.html.twig' %}

{% block html_head_title %} Блог &raquo; {{ parent() }} {% endblock html_head_title %}

{% block content %}
    <div id="content" class="span9">
        <div class="content">
        {{ parent() }}
        {% block smart_blog_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
